@media(max-width:990px )
{
    section{
        padding: 30px 0;
    }
    h2{
        font-size: 30px;
        line-height: 40px;

    }
    h3{
        font-size: 20px;
    }
    /* Navbar*/
    .header-scrolled{
        height: auto;
    }
    .header_wrapper .menu-navbar-nav{
        text-align: center;
        padding-bottom: 15px;
        background-color: var(--bg-dark-blue);

    }
    .header_wrapper .nav-item .nav-link{
        margin-top: 15px;
    }
    /* banner Wrapper */
    .banner_wrapper{
        padding: 200px 0;
    }

    .about_wrapper ul.nav-pills{
        margin: auto;
        width: 39%;
    }
    .portfolio_wrapper .card{
        min-height: 400px;
    }

    .container{
        align-items: center;
    }
}

/* for the mobile screen */
@media(max-width:767px)
{
    h1{
        font-size: 40px;
        line-height: 48px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size:12px;
        line-height: 24px;
    }
    .about_wrapper ul.nav-pills{
        margin: auto;
        border:0;
        width: 20%;
    }
    .about_wrapper ul li .nav-link{
        font-size: 13px;
    }
    .portfolio_wrapper .card{
        min-height: 500px;
    }
}

@media screen and (min-height:371px) and (max-height:490px){
    .about_wrapper ul.nav-pills.nav{
        margin: auto;
        border:0;
        width: 40;
        font-size: 14px;
        text-align: center;
        justify-content: space-around;
    }

}
